<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="init" default-destroy-method="destroy">

    <!-- 使用实现接口的方式 添加初始化和销毁方法 -->
    <bean id="beanLifeCycle" class="com.wyb.demo.ioc.leftcycle.BeanLifeCycle"></bean>

    <!-- 使用在bean中定义的方式 添加初始化和销毁方法 -->
    <bean id="beanLifeCycleTwo" class="com.wyb.demo.ioc.leftcycle.BeanLifeCycleTwo" init-method="start" destroy-method="finish"></bean>

    <bean id="beanLifeCycleThree" class="com.wyb.demo.ioc.leftcycle.BeanLifeCycleThree"></bean>
</beans>