<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 通过 scope 属性定义 Bean 的作用域-->
    <bean id="beanScope" class="com.wyb.demo.ioc.scope.BeanScope" scope="singleton"></bean>

    <bean id="anotherBeanScope" class="com.wyb.demo.ioc.scope.AnotherBeanScope" scope="prototype"></bean>

</beans>